@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700;800&display=swap');

body{
  font-family: 'Roboto Mono', sans-serif;
}

input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.modal{
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}



